<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body class="container">
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>

        <h3 id="tervetuloa"><strong>
                <%= hello %>
            </strong>
        </h3>
        <%- include ("../partials/pubit") %>

    </main>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>
</body>

</html>